<h3 class= "heading">ジャンル編集</h3>
<div class="container">
    <div class="row">
        <div class = "col-xs-5 col-xs-offset-1">
            <%= form_with model:[:admins,@genre], local: true do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
                <%= f.text_field :name %>
                    <span>有効</span><%= f.radio_button :is_active, :true %>
                    <span>無効</span><%= f.radio_button :is_active, :false %>
                <%= f.submit "変更を保存する", class:"btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>