<div class="body">
  <div class="container">
    <div class="row">

        <div class="col-xs-7">
          <h3 class="heading">マイページ</h3>

            <h4 class="col-xs-7">登録情報
              <%= link_to "編集する", edit_customer_path, class: "btn btn-primary" %>
              <%= link_to "パスワードを変更する", edit_customer_password_path,  class: "btn btn-primary" %>
            </h4>

              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <td>氏名</td>
                    <td colspan="2"><%= @customer.last_name %><%= @customer.first_name %></td>
                  </tr>
                  <tr>
                    <td>カナ</td>
                    <td colspan="2"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
                  </tr>
                  <tr>
                    <td>郵便番号</td>
                    <td><%= @customer.post_code %></td>
                  </tr>
                  <tr>
                    <td>住所</td>
                    <td><%= @customer.address %></td>
                  </tr>
                  <tr>
                    <td>電話番号</td>
                    <td><%= @customer.phone_number %></td>
                  </tr>
                  <tr>
                    <td>メールアドレス</td>
                    <td><%= @customer.email %></td>
                  </tr>
                </tbody>
              </table>

            <h4 class="col-xs-7">配送先
              <%= link_to "一覧を見る", order_products_path, class: "btn btn-primary btn-lg" %>
            </h4>

            <h4 class="col-xs-7">注文履歴
              <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-lg" %>
            </h4>

        </div>

        <div class="col-3">
          <div class="card favorite-card">
            <div class="card-header">お気に入り商品</div>
              <ul class="list-group list-group-flush">
                  <% @favorite_products.each do |my_favorite|  %>
                  <li class="list-group-item">
                    <%= link_to product_path(my_favorite) do%>
                      <%= attachment_image_tag(my_favorite, :image, fallback: "no_img.png", size: "70x70") %>
                      <%= my_favorite.name %>
                    <% end %>
                    <br>
                  </li>
                  <% end %>
              </ul>
          </div>
        </div>

    </div>
  </div>
</div>