<div class="contaier">

  <!-- サイト紹介画像 -->
  <div class="jumbotron" id="top-img">
    <div class="container">
      <h3 class="display-3">ようこそNaganoCakeへ</h3>
      <p>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p><br>
      <p><%= link_to 'Sign in >>', new_customer_session_path , class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-2">
      <!-- ジャンル一覧 -->
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          ジャンル検索
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ケーキ</li>
          <li class="list-group-item">タルト</li>
          <li class="list-group-item">パイ</li>
          <li class="list-group-item">タルト</li>
          <li class="list-group-item">ワッフル</li>
        </ul>
      </div>
    </div>

    <div class="col-8">


      <!-- ランキング表示 -->
      <h4>今売れている商品</h4>
      <div class="row">
        <% @rank_items.each_with_index do |rank_item, rank| %>
        <div class="col-3">
          <div class="card">
            <div class="card-header"><%= "#{(rank + 1)}" %> 位</div>
            <%= link_to product_path(rank_item.product) do%>
              <%= attachment_image_tag rank_item.product, :image, size: '100x200',format: "jpeg",fallback: "no_img.png", class: "card-img-top" %>
              <div class="card-body">
                <h4 class="card-title"><%= rank_item.product.name %></h4>
                <p class="card-text"><%= rank_item.product.price %>円</p>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="text-right"><p><%= link_to '商品一覧へ>>', products_path %></p></div>
    </div>

    
  </div>

</div>