<div class="container">

  <% if @cart_items.blank? %>
  
    <div class="text-center">
      <h4>カートに何も入っていません。</h4><br>
      <%= link_to 'TOPへ戻る', root_path, class: 'btn btn-secondary btn-lg' %>
    </div>

  <% else %>

    <div class="row justify-content-between">
      <div class="col-10"><h3 class="heading">ショッピングカート</h3></div>
      <div class="col-2"><%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class: 'btn btn-danger' %></div>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>

        <!-- カート内商品一覧 -->
        <tbody>
          <% sum_all = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <th>
              <%= link_to product_path(cart_item.product) do%>
              <%= attachment_image_tag(cart_item.product, :image, fallback: "no_img.png", size: "50x50", class: "product-img") %>
              <% end %>
              <%= link_to product_path(cart_item.product) do%>
              <%= cart_item.product.name %>
              <% end %>
            </th>
            <th>
              <%= price_with_tax(cart_item.product.price) %>
            </th>
            <th>
              <%= form_with model: cart_item, local: true do |f| %>
              <%= f.number_field :quantity, value: cart_item.quantity %>
              <%= f.submit "変更", class: "btn btn-primary" %>
              <% end %>
            </th>
            <th>
              <%= sum_product = price_with_tax(cart_item.product.price).to_i * cart_item.quantity %>円
              <% sum_all += sum_product %>
            </th>
            <th>
              <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %>
            </th>
          </tr>
          <% end %>

        </tbody>


      </table>
    </div>


    <!-- 合計金額 + 情報入力ボタン -->
    <div class="row">
      <div class="col-9">
        <%= link_to "買い物を続ける", products_path, class:"btn btn-secondary btn-lg" %>
      </div>
      <div class="col-3">
        <table class="table">
          <tr>
            <td><h4>商品合計（税込）</h4></td>
            <td><h4>：<%= sum_all %>円</h4></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <%= link_to "情報入力に進む", new_order_path, class:"btn btn-success btn-lg" %>
      </div>
    </div>

  <% end %>

</div>