<% if @product.posts.present? %>
  <h4>カスタマーレビュー</h4>
  <% product.posts.each do |post| %>
    <div class="row posts">
        <div class=" posts-content">
          <!--星評価-->
         <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>  
        <!--/星評価-->
        <p class="text-muted">
          <%= simple_time(post.created_at) %>に投稿
          <% if post.customer == current_customer %>
            <%= link_to product_post_path(post.product, post), class:"destroy_book_32836", method: :delete,  remote: true, data: { confirm: '本当に削除しますか？' } do %>
            <i class="fas fa-backspace delete-btn fa-2x"></i>
            <% end %>
          <% end %>
        </p>
        <p class="font-weight-bold"><%= post.title %></p>
        <p><%= post.content %></p>
        </div>
    </div>
  <% end %>
<% end %>