<% if @product.posts.present? %>
  <% product.posts.each do |post| %>
    <div class="row posts">
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <p><%= simple_time(post.created_at) %></p>
          <h4 class="mb-3">評価：<%= post.rate %>点 | <%= post.title %></h4>
          <p><%= post.content %></p>
          <!--星評価-->
         <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>  
        <!--/星評価-->
        <% if post.customer == current_customer %>
          <%= link_to "削除", product_post_path(post.product, post), class:"btn-sm btn-danger destroy_book_32836", method: :delete,  remote: true, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>