<div calss="container">
  <h3 class="heading">管理者画面</h3>
  <div class="row justify-content-center">

    <div class= "card admin-content admin-orders">
      <div class="card-body">
        <h3 class="display-4 dashbord-counter"><%= @orders.count %></h3>
        <p>本日の注文件数</p>
        <i class="fas fa-shopping-bag fa-4x dashbord-icon"></i>
      </div>
      <%= link_to admins_orders_path, class:"card-footer text-center more-info" do %>
        <p>
          詳しい情報へ
          <span><i class="fas fa-arrow-alt-circle-right"></i></span>
        </p>
      <% end %>
    </div>

    <div class= "card admin-content admin-products">
      <div class="card-body">
        <h3 class="display-4 dashbord-counter"><%= @products.count %></h3>
        <p>販売商品数</p>
        <i class="fas fa-cheese fa-4x dashbord-icon"></i>
      </div>
      <%= link_to admins_products_path, class:"card-footer text-center more-info" do %>
        <p>
          詳しい情報へ
          <span><i class="fas fa-arrow-alt-circle-right"></i></span>
        </p>
      <% end %>
    </div>

    <div class= "card admin-content admin-customers">
      <div class="card-body">
        <h3 class="display-4 dashbord-counter"><%= @customers.count %></h3>
        <p>アクティブユーザー数</p>
        <i class="fas fa-users fa-4x dashbord-icon"></i>
      </div>
      <%= link_to admins_customers_path, class:"card-footer text-center more-info" do %>
        <p>
          詳しい情報へ
          <span><i class="fas fa-arrow-alt-circle-right"></i></span>
        </p>
      <% end %>
    </div>


  </div>
</div>