<h1>Admins::Products#edit</h1>
<p>Find me in app/views/admins/products/edit.html.erb</p>
<%= form_with model:[:admins,@product], local: true do |f| %>
    <%= f.attachment_field :image %>
    <p><%= f.text_field :name %></p>
    <p><%= f.text_area :description %></p>
    <p><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } %></p>
    <p><%= f.text_field :price %></p>
    <p><%= f.select :is_active,[["販売中",true],["売り切れ",false]] %></p>
    <% if false %>
          <p><%= f.select :is_active, Product.is_active.keys %></p>
    <% end %>
    <%= f.submit %>
<% end %>