<h1>商品新規登録</h1>
<div class="container">
    <%= form_with model:[:admins,@product] do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="row">
            <div class ="col-xs-4 col-xs-offset-1">
                <%= attachment_image_tag @product, :image, class: "image", fallback: "no_img.png", size:"300x300" %>
                <%= f.attachment_field :image, placeholder: "画像", id: "item_image" %>
            </div>
            <div class ="col-xs-4">
             <table class="table">
                <tr>
                    <td>商品名</td>
                    <td><%= f.text_field :name %></td>
                </tr>
                <tr>
                    <td>商品説明</td>
                    <td><%= f.text_area :description %></td>
                </tr>
                <tr>
                    <td>ジャンル</td>
                    <td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } %></td>
                </tr>
                <tr>
                    <td>税抜価格</td>
                    <td><%= f.number_field :price %></td>
                </tr>
                <tr>
                    <td>販売ステータス</td>
                    <td><%= f.select :is_active,[["販売中",true],["売り切れ",false]] %></td>
                </tr>
            </table>
            </div>
        </div>

    <div class="row">
        <div class="col-xs-2 col-xs-offset-10">
            <%= f.submit "新規登録", class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
</div>

<!-- 画像プレビュー -->
<script>
$(function(){
    $('#item_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
}  
reader.readAsDataURL(e.target.files[0]);    
});
});
</script>

