<div class="row justify-content-center">

  <%= render 'shared/genre_search', genres: @genres %>

  <div class="col-8">
    <h2>
      <span>
      <%#= ジャンル検索時の@genreがあればジャンル名一覧となる  %>
      <% if @genre %> 
        <%= @genre.name %>一覧
        <% else %>
        商品一覧
      <% end %>
      </span>
      <span>（全<%= @products.count %>件）</span>
    </h2>
    <div class="row">
    <% @products.each do |product| %>
      <div class="col-3">
        <%= link_to product_path(product) do %>
          <div class="">
            <% if product.new_arrival? %>
              <span class="badge badge-warning notify-badge">New</span>
            <% end %>
            <%= attachment_image_tag product, :image, :fill, 100, 100, fallback: 'no_img.png', class: "card-img-top"  %>
            <h4><%= product.name %></h4>
          <div>
          <% if product.posts.blank? %>
          <% @average_review = 0 %> 
          <%  else%>
          <% @average_review = product.posts.average(:rate).round(1) %>  
          <% end %>
          <span id="star-rate-<%= product.id %>"></span>
          <span>平均：<%= @average_review.to_f %>点</span>
          <br>
        </div>
          </div>
        <% end %>
        <h4>¥<%= price_with_tax(product.price) %>(税込)</h4>
      </div>
       <!--星評価-->
         <div id="star-rate-<%= product.id %>"></div>
          <script>
          $('#star-rate-<%= product.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @average_review %>,
          });
          </script>  
        <!--/星評価-->
    <% end %>
  </div>
</div>
<%= paginate @products %>


