<table>
  <tr>
    <div>
      <td><%= @product.image_id %></td>
    </div>
    <div>
      <td><%= @product.name %></td>
    </div>
    <div>
      <td><%= @product.description %></td>
    </div>
    <div>
      <td>￥<%= price_with_tax(@product.price) %>（税込）</td>
    </div>
  </tr>
</table>

<%= form_with(@cart_item) do |f| %>
  <%= f.label :quantity, "個数選択" %>
# <%# 個数制限なく選択できるようにする %>
  <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], {include_blank: "個数選択"} %>
  <%= f.submit "カートに入れる", class:"btn btn-danger" %>
<% end %>