<table>
  <tr>
    <div>
      <td><%= @product.image_id %></td>
    </div>
    <div>
      <td><%= @product.name %></td>
    </div>
    <div>
      <td><%= @product.description %></td>
    </div>
    <div>
      <td>￥<%= price_with_tax(@product.price) %>（税込）</td>
    </div>
  </tr>
</table>

<%= form_with(@cart) do |f| %>
  <%= f.label :quantity, "個数選択" %>
  <%= f.number_field :age, class: "hoge", min: 1, include_blank: '個数選択' %>
  <%= f.submit "カートに入れる", class:"btn btn-danger" %>
<% end %>