<div class="">
  <div class="row justify-content-center">
    <div class="col-lg-2">
      <%= render 'shared/genre_search', genres: @genres %>
    </div>
    <div class="col-lg-3">
      <%= attachment_image_tag @product, :image, fallback: "no_img.png", size: "450x350" %>
    </div>
    
    <div class="col-lg-3 align-self-center">
        <div>
          <h3>
            <%= @product.name %>
            <% if @product.new_arrival? %>
              <span class="badge badge-warning">New</span>
            <% end %>
          </h3>
          <!-- favorite button -->
          <div id="favorites_buttons_<%= @product.id %>">
            <%= render partial: 'favorites/favorite_button', locals: { product: @product} %>
          </div>
        </div>
        <div>
          <p><%= @product.description %></p>
        </div>
        <div>
          <p><strong>￥<%= price_with_tax(@product.price) %></strong>（税込） + 送料¥800</p>
        </div>

      <%= form_with(model: [@product,@cart], local: true, url: {controller: 'cart_items', action: 'create'}) do |f| %>
        <%= f.label :数量 %>
        <%= f.number_field :quantity, value: 1 , min:1, max:99 %>個
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
          <i class="fas fa-shopping-cart btn btn-warning"> カートに入れる</i>
        <% end %>
      <% end %>

      <div>
        <p><br>
          ※一つ一つ手作りの為、写真と若干の色合いやデザイン等異なる場合がございます。<br>
          ご了承の上お買い求めくださいませ。
        </p>
      </div>

      <%= link_to '戻る', :back, class: 'btn btn-primary' %>
    </div>


    </div>
  </div>
</div>